#capture-area[data-v-04f0e19a]{background:#fff;width:800px;position:absolute;left:-9999px;top:0;padding:20px}.no-scrollbar::-webkit-scrollbar{display:none}.no-scrollbar{-ms-overflow-style:none;scrollbar-width:none}
